<% include partials/header %>
<main>
	<div>
		<h2><a href="/entries">Today's Entry</a></h2>
	</div>
	<div>
		<h2><a href="/previous">Previous Entries</a></h2>
	</div>
</main>

<% include partials/commonScripts %>
<% include partials/dashboardFooter %>
<% include partials/footer %>