<% include partials/header %>
<main>
	<div>
		<h2 class="today-entry"><a href="/entries">Today's Entry</a></h2>
	</div>
	<div>
		<h2 class="previous-entry">Previous Entries</h2>
	</div>
</main>

<% include partials/commonScripts %>
<% include partials/dashboardFooter %>
<% include partials/footer %>