<% include partials/header %>

<nav>
	<ul>
		<li>Monday</li>
	</ul>
</nav>

<main>
	<div>
		<img src="">
		<h2>Breakfast</h2>
		<h2>+</h2>
	</div>
	<div>
		<img src="">
		<h2>Snack</h2>
		<h2>+</h2>
	</div>
	<div>
		<img src="">
		<h2>Lunch</h2>
		<h2>+</h2>
	</div>
	<div>
		<img src="">
		<h2>Snack</h2>
		<h2>+</h2>
	</div>
		<div>
		<img src="">
		<h2>Dinner</h2>
		<h2>+</h2>
	</div>
		<div>
		<img src="">
		<h2>Snack</h2>
		<h2>+</h2>
	</div>
</main>

<% include partials/commonScripts %>
<% include partials/footer %>