<% include partials/header %>

<header>
	<ul>
		<li><a href="/signup">signup</a></li>
		<li><a href="/login">login</a></li>
	</ul>
</header>

<h1>On My Plate</h1>

<% include partials/commonScripts %>
<% include partials/footer %>