body {
}

.delete-btn {
	background-color: red;
}

.close-edit-btn {
	background-color: green;
}

.week {
	background-color: gainsboro;
}

.dropdown-content {
	display: none;
	list-style: none;
}

.show {
	display: block;
}


